In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("BMI.csv")

In [3]:
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [4]:
df.count()

Gender    500
Height    500
Weight    500
Index     500
dtype: int64

In [5]:
df.shape

(500, 4)

In [11]:
print(df.head(n=10).to_string(index=False))

 Gender  Height  Weight  Index
   Male     174      96      4
   Male     189      87      2
 Female     185     110      4
 Female     195     104      3
   Male     149      61      3
   Male     189     104      3
   Male     147      92      5
   Male     154     111      5
   Male     174      90      3
 Female     169     103      4

In [13]:
df.head().style.hide_index()

TypeError: hide_index() takes 1 positional argument but 2 were given